In [88]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [89]:
from rdkit import Chem
from rdkit.Chem.Draw import IPythonConsole
from rdkit.Chem import Draw
from rdkit.Chem.QED import qed
from rdkit.Chem.Crippen import MolLogP

IPythonConsole.ipython_useSVG=True

In [90]:
import sys
from io import StringIO

In [91]:
original_moses_df = pd.read_csv("../data/raw/dataset_original_moses.csv")
ClearSMILES_set_test = pd.read_csv("../data/raw/sampled_Clearsmiles_test.csv")
ClearSMILES_set_train = pd.read_csv("../data/raw/sampled_Clearsmiles_train.csv")
#moses_set= pd.read_parquet("../data/raw/moses_set.parquet")

In [92]:
ClearSMILES_set_train["SPLIT"] = "train"
ClearSMILES_set_test["SPLIT"] = "test"

In [102]:
Csmiles =   ClearSMILES_set_train["smiles"].to_list() + ClearSMILES_set_test["smiles"].to_list()
Split_clear_smiles =  ClearSMILES_set_train["SPLIT"].to_list() + ClearSMILES_set_test["SPLIT"].to_list()

ClearSMILES_set = pd.DataFrame()
ClearSMILES_set["ClearSMILES"] = Csmiles
ClearSMILES_set["SPLIT"] = Split_clear_smiles


ClearSMILES_set.to_csv("../data/processed/ClearSMILES.csv")

In [ ]:
#moses_set_corrected = pd.DataFrame()

#moses_set_corrected["SMILES"] = moses_set["smiles"]

Empty DataFrame
Columns: [smiles, SPLIT]
Index: []

In [95]:
original_moses_df=original_moses_df.sort_values(by="SMILES")

In [96]:
original_moses_df

                                   SMILES  SPLIT
1837581                 BrC#Cc1ccc(Br)cc1  train
62288            BrC(Br)(c1ccccc1)C1OCCO1  train
716482                 BrC1(Br)C2CCOCCC21  train
21580                  BrC1(Br)C2COCOCC21  train
1208063              BrC1(Br)CCCc2ncncc21  train
...                                   ...    ...
1842145  c1sc2c(c1-c1nc(C3CCOC3)no1)CCCC2  train
1776072   c1sc2c(c1CNc1nnc(C3CC3)o1)CCCC2  train
519887        c1snnc1-c1nn2c(C3CC3)nnc2s1   test
1851064  c1snnc1CN1CCC2(CC(OCC3CC3)CO2)C1  train
1891079        c1snnc1CN1CCOCC2(CCOCC2)C1  train

[1936962 rows x 2 columns]

In [97]:
#moses_set_corrected = moses_set_corrected.sort_values(by="SMILES")

In [98]:
#moses_set_corrected

In [99]:
#moses_set_corrected["SPLIT"] = original_moses_df["SPLIT"].to_list()
#moses_set_corrected[moses_set_corrected["SPLIT"]=="test"]["SPLIT"]

In [100]:
#O_MOSES_smiles = original_moses_df["SPLIT"].to_list()

In [ ]:


def define_clearSMILES(smiles):
    mol1= Chem.MolFromSmiles(smiles)
    inchi1=Chem.MolToInchi(mol1)
    for clearsmiles in ClearSMILES_set["ClearSMILES"]:
        mol2= Chem.MolFromSmiles(clearsmiles)
        inchi2= Chem.MolToInchi(mol2)
        match = inchi1==inchi2
        if match :
            return clearsmiles

SyntaxError: expected ':' (2062559503.py, line 10)